body {
  padding: 0;
  margin: 0;
}

.wrapper {
  background: url(./bg.jpeg);
  width: 1920px;
  height: 1600px;
  position: relative;
}

.download {
  position: absolute;
  left: 436px;
  top: 632px;
  opacity: 0;
  cursor: pointer;
  /* background: red; */
  width: 283px;
  height: 68px;
}

.about {
  position: absolute;
  left: 815px;
  top: 632px;
  opacity: 0;
  cursor: pointer;
  width: 283px;
  height: 68px;
}

.wechat {
  position: absolute;
  left: 1203px;
  top: 632px;
  opacity: 0;
  cursor: pointer;
  width: 283px;
  height: 68px;
}

.iPhone {
  position: absolute;
  left: 355px;
  top: 1096px;
  opacity: 0;
  cursor: pointer;
  width: 290px;
  height: 290px;
}

.android {
  position: absolute;
  left: 810px;
  top: 1096px;
  opacity: 0;
  cursor: pointer;
  width: 290px;
  height: 290px;
}

.QRCode {
  position: absolute;
  left: 1262px;
  top: 1096px;
  opacity: 0;
  cursor: pointer;
  width: 290px;
  height: 290px;
}
